.agent-create-service-container {
    border: 1px solid gray;
    max-width: 50%;
    margin: 70px auto 50px;
    border-radius: 10px;
    padding: 25px;
    height: 100%;
}

.agent-create-service-form-button {
    width: 100%;
    margin-top: 20px;
}

.agent-create-service-back-button {
    margin-top: 15px;
}