.agent-create-service-logs-configuration-container {
    max-width: 650px;
    margin: 70px auto 50px;
    border-style: groove;
    padding: 25px;
}

.agent-create-service-logs-configuration-form-button {
    width: 100%;
    margin-top: 20px;
}

.agent-create-service-logs-configuration-back-button {
    margin-top: 15px;
}