.token-create-container {
    border: 1px solid gray;
    max-width: 50%;
    margin: 70px auto 50px;
    border-radius: 10px;
    padding: 25px;
    height: 100%;
}

.token-create-form-button {
    width: 100%;
    margin-top: 20px;
}

.token-create-back-button {
    margin-top: 15px;
}

.token-create-checkbox {
    display: block;
    alignment: center;
}

.token-create-checkbox-first {
    display: block;
    alignment: center;
    padding-left: 8px;
}

.token-create-date-picker {
    width: 100%;
    padding-right: 5px;
}