.agent-edit-service-container {
    border: 1px solid gray;
    max-width: 50%;
    margin: 70px auto 50px;
    border-radius: 10px;
    padding: 25px;
    height: 100%;
}

.agent-edit-service-subcontainer {
    max-width: 100%;
    margin: 30px auto 5px;
    border: 1px solid gray;
    padding: 25px;
    border-radius: 10px;
}

.agent-edit-service-form-button {
    width: 100%;
    margin-top: 20px;
}

.agent-edit-service-form-button-split {
    width: 47%;
    margin-right: 3%;
}

.agent-edit-service-back-button {
    margin-top: 15px;
}