.welcome-page-title {
    color: #0b409c;
}
.welcome-container {
    max-width: 80%;
    margin: 0 auto;
    margin-top: 40px;
}

.welcome-logo {
    width: 95%;
}

.welcome-top-content {
    margin-bottom: 30px;
}

