.alert-dashboard-page-title {
    color: #0b409c;
}

.alert-dashboard-container {
    border: 1px solid gray;
    border-radius: 10px;
    max-width: 100%;
    padding: 25px;
    margin: 40px 20px 0;
    height: 100%;
}

.alert-dashboard-content {
    height: 100%;
}

.alert-dashboard-container h1 {
    font-size: 20px;
    font-weight: bold;
}

.alert-dashboard-logo {
    width: 95%;
}

.alert-dashboard-top-content {
    margin-bottom: 30px;
}

.alert-dashboard-level-error {
    color: red;
    alignment: center;
}

.alert-dashboard-level-warn {
    color: orange;
    alignment: center;
}

.alert-dashboard-level-info {
    color: blue;
    alignment: center;
}
