.agent-details-service-container {
    border: 1px solid gray;
    max-width: 50%;
    margin: 70px auto 50px;
    border-radius: 10px;
    padding: 25px;
    height: 100%;
}

.agent-details-service-subcontainer {
    max-width: 100%;
    margin: 30px auto 5px;
    border: 1px solid gray;
    padding: 25px;
    border-radius: 10px;

}

.agent-service-details-form-button-left {
    width: 47%;
    margin-right: 3%;
}

.agent-service-details-form-button-right {
    width: 47%;
    margin-left: 3%;
    background-color: #f44336;
    border-color: #f44336;
}

.agent-service-details-form-button-right:hover {
    background-color: #883336;
    border-color: #f44336;
}

.agent-service-details-back-button {
    margin-top: 15px;
}

.agent-service-details-form-button-full {
    width: 100%;
}