.charts-date-picker {
    width: 50%;
    margin-top: 2px;
    margin-bottom: 2px;
}

.charts-time-picker {
    position: absolute;

    right: 0px;
    width: 49%;
    margin-top: 2px;
    margin-bottom: 2px;

}

.charts-form-button {
    width: 100%;
    margin-bottom: 2px;
}