.charts-container {
    border: 1px solid gray;
    border-radius: 10px;
    max-width: 100%;
    padding: 20px 30px 0px;
    margin: 40px 20px 0;
    height: 100%;
}

.charts-date-picker {
    width: 100%;
    padding-right: 5px;
}

.charts-date-picker-right {
    width: 100%;
    padding-left: 5px;

}

.charts-form-select {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 2px;
}

.charts-form-chart-selector {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 30px;
}

.charts-form-button {
    width: 100%;
    margin-top: 0px;
}

.charts-form-secondary-button {
    width: 15%;
    margin-right: 1%;
    margin-top: 10px;
    margin-bottom: 2px;
}

.charts-info {
    font-size: 14px;
    text-align: center;
    width: 100%;
}

.additionalInfo {
    font-size: 10px;
    color: orange;
    margin-bottom: 15px;
    background: #c8c8c850;
    padding: 10px;
    border: 0px solid gray;
    border-radius: 10px;;
}

.chartContainer {
    margin-top: 20px;
}

