.logs-viewer-date-picker {
    width: 50%;
    margin-top: 2px;
    margin-bottom: 2px;
}

.logs-viewer-time-picker {
    position: absolute;

    right: 0px;
    width: 49%;
    margin-top: 2px;
    margin-bottom: 2px;

}

.logs-viewer-form-button {
    width: 100%;
    margin-bottom: 2px;
}

.logs-viewer-container {
    border: 1px solid gray;
    border-radius: 10px;
    max-width: 100%;
    padding: 25px;
    margin: 40px 20px 0;
    height: 100%;
}