.alert-dashboard-page-title {
    color: #0b409c;
}

.alert-dashboard-container {
    max-width: 80%;
    margin: 0 auto;
    margin-top: 40px;
}

.alert-dashboard-logo {
    width: 95%;
}

.alert-dashboard-top-content {
    margin-bottom: 30px;
}

