.agent-list-delete-button {
    background-color: #f44336;
    border-color: #f44336;
}

.agent-list-delete-button:hover {
    background-color: #883336;
    border-color: #f44336;
}

.agent-list-menu-item {
    margin-left: 20px;
    font-size: 20px;
}

.page-title {
    font-size: 20px;
}