.agent-list-delete-button {
    background-color: #f44336;
    border-color: #f44336;
}

.agent-list-delete-button:hover {
    background-color: #883336;
    border-color: #f44336;
}

.agent-list-menu-item {
    margin-left: 20px;
    font-size: 20px;
}

.users-list-container {
    border: 1px solid gray;
    border-radius: 10px;
    max-width: 100%;
    padding: 25px;
    margin: 40px 20px 0;
    height: 100%;
}

.agent-list-status-connected {
    margin-left: 20px;
    font-size: 20px;
    color: green;
}

.agent-list-status-disconnected {
    margin-left: 20px;
    font-size: 20px;
    color: red;
}